<ng-container *ngIf="(comments$ | async) as comments">
  <h3>Comments</h3>
  <ng-container *ngFor="let comment of comments">
    <mat-list *ngIf="postId === comment.postId">
      <mat-list-item>
        <mat-icon matListIcon>comment</mat-icon>
        <h5 matLine> By: {{comment.name}} </h5>
        <h5>({{comment.email}})</h5>
        <br />
        <p matLine>
          {{comment.body}}
        </p>
      </mat-list-item>
    </mat-list>
    <!-- <mat-divider color='accent'></mat-divider> -->
    <!-- <ul *ngIf="postId === comment.postId">
       <li>
        PostId: {{comment.postId}}
        <br /> 
      Commented by: {{comment.name}}
      <br />
      {{comment.body}}
      </li>
    </ul> -->
  </ng-container>

</ng-container>